.dropdown {
  /* box-sizing: border-box; */
  cursor: pointer;
}

.input-group {
  display: inline;
}

.input-field {
  border-radius: 0 0.5rem 0.5rem 0;
}

.dropdown-button {
  border-radius: 0;

  /* border-radius: 0; */
}

.search-button {
  margin-top: 25px;
}

.food-message p {
  margin-top: 30px;
}
